[color]
	ui = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto

[core]
	whitespace = blank-at-eol,blank-at-eof,space-before-tab
	# Use the best pager available
	pager = (which diff-so-fancy >/dev/null 2>&1 && diff-so-fancy || which brew >/dev/null 2>&1 && $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight || cat)|less


[credential]
	helper = cache --timeout=10000

[alias]
	showconfig = config --global -l
	simplestat = status -s
	resethead = reset --hard HEAD
	cherrytheirs = cherry-pick --strategy=recursive -X theirs
	a = add
	s = status
	st = status
	ci = commit
	b = branch
	co = checkout
	re = remote
	d = diff
	dc = diff --cached
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgi = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	# Pull Upstream
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
	# Commit Amend Reuse Message HEAD
	carmh = commit --amend --reuse-message=HEAD
	# Push Current
	pc = !"f() { remote=\"${1:-origin}\"; git push -u \"$remote\" $(git rev-parse --abbrev-ref HEAD); }; f"
	# Push Current Force
	pcf = !"f() { echo git pc \"$@\" -f; }; f"
	# Mainly for YADM
	untracked = !"f() { git status --porcelain=v1 -zunormal | xargs -0n1 printf \"%s\\n\" | grep -E '^\\?\\? \\.' | cut -c4-; }; f"
	# Current branch
	current = rev-parse --abbrev-ref HEAD

[user]
	email = francesco.loi@outlook.it
	name = floi

[rebase]
	# Automatically stash before a rebase and unstash afterwards.
	autoStash = true

[push]
	default = simple

[commit]
	# Show diff when preparing commit message
	verbose = true
	#template = ~/.gitmessage

[pull]
	rebase = true

### Github

[github]
	user = QuiGonRazor

[url "http://github.com/"]
	insteadOf = "gh:"

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "http://github.com/"
	pushInsteadOf = "gh:"

### Local overrides

[include]
	path = .gitconfig.local
